.contact{
    padding: 3.75em 0;
    height: 100%;
    

    &__inner{
        margin: 3.75em 0;
        position: relative;

        &-box{
            padding: 2.5em;
            max-width: 376px;
            width: 33%;
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: center;
            justify-content: center;
            box-shadow: 0px 8px 40px -4px rgba(50, 50, 124, 0.08);
            border-radius: 12px;
            background-color: $white;
            .contact-info{
                display: flex;
                flex-direction: column;
                gap: 1em;
            }

            ul{
                display: flex;
                flex-direction: column;
                gap: 1em;

                li{
                    display: flex;
                    gap: .75em;
                    align-items: center;
                }
            }
        }
        .map{
            position: absolute;
            top: -7.5em;
            right: 0;
            width: 70vw;
            height: 49vw;
            max-width: 1008px;
            max-height: 660px;
            z-index: -1;
        }
    }
}