$black: #171b26;
$black-2: #3d424d;
$blue: #3c50e0;
$white: #fff;
$white-2: #e0e2ff;
$white-3: #fefefe;
$white-4: #f5f5fa;
$white-5: #ebebeb;
$white-6: #fafafa;
$secondary: #32327c;

$bg-color: #f7f7fa;
$bg-color-footer: #09092d;
$bg-color-footer-copyraight: #0f0f3d;