.hero{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.75em 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-content{
            display: flex;
            width: 52%;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 1.5em;
        }
        &-subcontent{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 1.5em;
        }
        &-img{
            width: 48%;
            & img{
                background: $white-3;
                border-radius: 20px;
                width: 100%;
                height: auto;
            }
        }
        &-tag{
            font-size: 1em;
            font-weight: 600;
            letter-spacing: 0.1em;
            color: $secondary; 
        }
        &-title{
            font-weight: 700;
            font-size: 3.5em;
            color: $black;
        }
        &-p{
            font-style: normal;
            font-weight: 500;
            font-size: 1.1em;
            color: $main;
            order: 1;
        }
    }
}