.numslider{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7.5em 0;
    background-color: $white;
    &__inner{
        width: 81.25vw;
        display: flex;
        align-items: center;
        justify-content: space-around;
        max-width: 1170px;

        &-content{
            h1{
                font-weight: 700;
                font-size: 3.5em;
                color: $black;
            }
            h3{
                font-style: normal;
                font-weight: 500;
                font-size: 0.875em;
                letter-spacing: 0.04em;
                line-height: 1.75em;
                color: $secondary;
            }
            p{
                font-weight: 500;
                font-size: 1.25em;
                color: $main;
            }
        }

        &-slider{
            width: 57.17%;
            margin: 10px;
            min-width: 350px;
            height: 232px;
            background-color: $slider-color;
            border: 1px dashed rgba(50, 50, 124, 0.5);
            border-radius: 8px;
        }
    }
}