.overview{
    padding: 120px 0;
    &__inner{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 60px;

        h2{
            text-align: center;
            font-weight: 700;
        }

        &-row{
            display: flex;
            border-bottom: 1px solid #e5e5e5;
        }
    }
    &Content{
        padding: 16px 16px;
        width: calc(100% - 250px);
        display: flex;
        align-items: center;
        gap: 16px;
        background-color: $bg-color;

        &--caption{
            background-color: $white-5;
            width: 250px;
            align-items: flex-start;

            h6{
                font-weight: 700;
            }
        }

        p{
            color: $black-2;
            line-height: 1.5;
        }
    }
}

//max-width: 1025px
@mixin overview-xl{
    .overview{
        padding: 100px 0;
        &__inner{
            gap: 45px;
        }
    }
}

//max-width: 940px
@mixin overview-lg{
    .overview{
        padding: 80px 0;
        &__inner{
            gap: 35px;
        }
        &Content{
            padding: 12px;
            width: calc(100% - 214px);

            h6._sm{
                font-size: 14px;
            }

            p{
                font-size: 14px;
            }

            &--caption{
                width: 214px;
            }
        }
    }
}

//max-width: 660px
@mixin overview-xmd{
    .overview{
        padding: 60px 0;
        &__inner{
            gap: 30px;
        }
        &Content{
            width: calc(100% - 160px);
            &--caption{
                width: 160px;
            }
        }
    }
}

//max-width: 560px
@mixin overview-sm{
    .overview{
        padding: 50px 0;

        &Content{
            width: calc(100% - 160px);
            flex-direction: column;
            align-items: center;

            &--caption{
                width: 160px;
                justify-content: flex-start;
            }
        }
    }
}

//max-width: 460px
@mixin overview-xsm{
    .overview{
        &__inner{
            &-content{
                overflow-x: scroll;
            }

            &-row{
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &Content{
            width: 100%;

            &--caption{
                justify-content: flex-start;
            }
        }
    }
}