.overview{
    padding: 3.75em 2em;

    &__inner{
        margin-block: 3.75em;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4em;
        align-items: center;
        justify-content: center;
        padding: 0 5px;

        &-worksheet{
            display: flex;
            flex-direction: column;

            &-form{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;

                .form-question{
                    width: 25%;
                    padding: 1em;
                    background-color: #f2f4f5;
                    color: $black;
                    font-weight: 400;
                    font-size: 1em;
                    line-height: 1.5em;
                }
                .form-answer{
                    width: 75%;
                    padding: 1em;
                    background-color: #fafafa;
                    color: $main;
                    font-weight: 400;
                    font-size: 1em;
                    line-height: 1.5em;
                }
            }
        }
    }
}