.partners{
    padding: 3.75em 30px;
    &__inner{
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 3em;

        &-content{
            max-width: 470px;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            gap: 1.5em;

            h2{
                font-size: 3em;
                font-weight: 700;
            }
            p{
                font-size: 1.2em;
                font-weight: 500;
                line-height: 27px;
            }
        }

        &-logos{
            max-width: 570px;
            min-width: 300px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 49%;
            row-gap: 4em;

            img{
                max-width: 163.33px;
                max-height: 40px;
                width: 28.7%;
                height: 16%;
                opacity: 0.8;
            }
        }
    }
}