.team{
    padding: 3.75em 30px;
    box-sizing: border-box;

    &__inner{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4em;

        &-title{
            text-align: center;
            color: $black;
        }

        &-boxes{
            width: 100%;
            max-width: 1170px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            row-gap: 2em;
        }

        &-box{
            display: flex;
            flex-direction: column;
            row-gap: 1.5em;
            margin: 2px;

            .person-img{
                max-width: 358px;
                max-height: 370px;
                width: 24em;
                height: 26.5em;
            }

            .box-content{
                display: flex;
                justify-content: space-between;
                align-items: center;



                .person-social ul{
                    display: flex;
                    justify-content: space-between;
                    min-width: 56px;
                    width: 94px;
                }
            }
        }
    }
}