@charset "UTF-8";
/*** 

====================================================================
	Reset
====================================================================

***/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-family: "Inter", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}

button:focus {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #171B26;
  line-height: 1.4;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}
body.active {
  overflow: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1.16em;
  color: #171B26;
}

/* Typography */
h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 3em;
}

h3 {
  font-size: 2.25em;
}

h4 {
  font-size: 1.85em;
}

h5 {
  font-size: 1.5em;
  line-height: 32px;
}

h6 {
  font-size: 1em;
}

p {
  font-size: 0.875em;
  font-weight: 400;
  line-height: 1.5em;
}

.nowrap {
  white-space: nowrap;
}

.header {
  padding-top: 2em;
}
.header__inner {
  padding: 0.5em 2.18em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 6.45%;
     -moz-column-gap: 6.45%;
          column-gap: 6.45%;
  -webkit-box-shadow: 0px 6px 20px rgba(50, 50, 124, 0.08);
          box-shadow: 0px 6px 20px rgba(50, 50, 124, 0.08);
  border-radius: 12px;
  background-color: #fff;
}
.header__inner-logo {
  width: 6.75em;
}
.header__inner-logo img {
  width: 100%;
  height: auto;
}
.header__inner-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner-navigation .burger {
  display: none;
  padding: 0.5rem;
}
.header__inner-navigation .line {
  height: 2px;
  width: 25px;
  margin: 5px auto;
  background: #3D424D;
  opacity: 0.8;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__inner-nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}
.header__inner-nav-item {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
  line-height: 1.1em;
  color: #3D424D;
}
.header__inner-nav-item:hover {
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header__inner-nav-item.active {
  color: #32327C;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 1em;
}
.header__inner-lang {
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;
}
.header__inner-lang-changer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
     -moz-column-gap: 8px;
          column-gap: 8px;
}
.header__inner-lang-switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 18px;
}
.header__inner-lang-switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E0E2FF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__inner-lang-switch .slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 2px;
  bottom: 2px;
  background-color: #3C50E0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header__inner-lang-checkbox {
  opacity: 0;
  width: 0;
  height: 0;
}
.header__inner-lang-checkbox:checked + .slider {
  background-color: #E0E2FF;
}
.header__inner-lang-checkbox:focus + .slider {
  -webkit-box-shadow: 0 0 1px #E0E2FF;
          box-shadow: 0 0 1px #E0E2FF;
}
.header__inner-lang-checkbox:checked + .slider:before {
  -webkit-transform: translateX(12px);
  transform: translateX(12px);
}
.header__inner-lang.active {
  color: #3C50E0;
}
.header__inner-lang.slider.round {
  border-radius: 18px;
}
.header__inner-lang.slider.round:before {
  border-radius: 50%;
}
.header__title {
  text-align: center;
  color: #fff;
  padding: 2.33em 0;
}

.bg-color {
  background-color: #32327C;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #09092D;
  color: #fff;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 6.94%;
  padding-right: 6.94%;
  border: 0;
}
.footer h4 {
  font-weight: 600;
  font-size: 1.06em;
  line-height: 1.31em;
  letter-spacing: 0.005em;
  color: #fff;
}
.footer p {
  font-weight: 400;
  font-size: 1.1em;
  line-height: 1.125em;
  letter-spacing: 0.005em;
  opacity: 0.6;
}
.footer__inner {
  max-width: 1170px;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2em;
}
.footer__inner-logoGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 16.82em;
  min-width: 300px;
}
.footer__inner-logoGroup img {
  width: 110px;
  height: 80px;
}
.footer__inner-logoGroup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.footer__inner-group {
  max-width: 694px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3em;
  width: 48.19vw;
  min-width: 300px;
}
.footer__inner-group-companyGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}
.footer__inner-group-companyGroup ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.footer__inner-group-companyGroup ul li {
  font-weight: 400;
  font-size: 0.93em;
  line-height: 1.125em;
  letter-spacing: 0.005em;
  color: #D2D3D6;
}
.footer__inner-group-aboutGroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
  max-width: 250px;
}
.footer__inner-group-aboutGroup-social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 30px;
}
.footer__inner-group-aboutGroup-social-icons ul li a {
  width: 20px;
  height: 16px;
}

.subfooter {
  padding: 1em 6.94%;
  background-color: #0F0F3D;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-height: 50px;
  border: 0px;
}
.subfooter h5,
.subfooter span {
  font-weight: 400;
  font-size: 0.81em;
  line-height: 1em;
  text-align: center;
  letter-spacing: 0.005em;
  opacity: 0.8;
}

.autoContainer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 30px;
}
.autoContainer--sm {
  max-width: 1100px;
}
.autoContainer--md {
  max-width: 1170px;
  padding: 0;
  width: 100%;
}
.autoContainer--lg {
  max-width: 1440px;
  margin: 0;
}

.button {
  border-radius: 8px;
  background-color: #fff;
  color: #32327C;
  border: 1px solid #32327C;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
.button-hero {
  width: 134px;
  height: 48px;
}
.button-slide {
  width: 118px;
  height: 40px;
}

.button:hover {
  background-color: #32327C;
  color: #fff;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.75em 0;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
}
.hero__inner-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
}
.hero__inner-img {
  width: 48%;
}
.hero__inner-img img {
  background: #C4C4C4;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.hero__inner-tag {
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 0.1em;
  color: #32327C;
}
.hero__inner-title {
  font-weight: 700;
  font-size: 3.5em;
  color: #171B26;
}
.hero__inner-p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  color: #3D424D;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.choose {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7F7FA;
  padding: 7.5em 0;
}
.choose__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.choose__inner-images {
  width: 45.45%;
  height: 50vw;
  position: relative;
  max-height: 512px;
}
.choose__inner-img {
  border-radius: 5px;
  position: absolute;
  height: auto;
}
.choose__inner-img.first {
  width: 30.4%;
  top: 30.07%;
  left: 0;
}
.choose__inner-img.second {
  width: 66%;
  right: 0;
  top: 33.98%;
}
.choose__inner-img.third {
  width: 62%;
  top: 0px;
  left: 30.42%;
}
.choose__inner-content {
  width: 45%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2.25em;
}
.choose__inner-subcontent1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.choose__inner-subcontent1 h2 {
  font-weight: 700;
  font-size: 3em;
  color: #171B26;
}
.choose__inner-subcontent1 p {
  font-weight: 500;
  font-size: 1.1em;
  color: #3D424D;
}
.choose__inner-subcontent2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.93em;
}
.choose__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0;
  gap: 1.5em;
}
.choose__inner-box-icon img {
  width: 3em;
  height: 3em;
}
.choose__inner-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.5em;
}
.choose__inner-box-content-title {
  font-weight: 700;
  font-size: 1.37em;
  color: #171B26;
}
.choose__inner-box-content-p {
  font-weight: 500;
  font-size: 1em;
  color: #3D424D;
}

.do {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5em 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.do__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 3.75em;
  max-width: 1170px;
}
.do__inner-title {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  color: #171B26;
}
.do__inner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2em;
}
.do__inner-box {
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
          box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
}
.do__inner-box:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
}
.do__inner-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
  padding: 2em 2.5em;
}
.do__inner-box img {
  width: 4.375em;
  height: 4.375em;
}
.do__inner-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.do__inner-box-content h3 {
  font-weight: 600;
  font-size: 1.375em;
  line-height: 1.75em;
  text-align: center;
  color: #171B26;
}
.do__inner-box-content p {
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
  text-align: center;
  color: #3D424D;
}

.invest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F7F7FA;
  padding: 7.5em 0;
}
.invest__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 3.75em;
  max-width: 1170px;
}
.invest__inner-title {
  font-weight: 600;
  font-size: 3em;
  text-align: center;
  color: #171B26;
}
.invest__inner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.invest__inner-box {
  width: 30%;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 3em;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
          box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
  border-radius: 12px;
}
.invest__inner-box:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
}
.invest__inner-box-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.5em;
  padding: 2em;
}
.invest__inner-box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.invest__inner-box-content h3 {
  font-weight: 600;
  font-size: 1.5em;
  color: #171B26;
}
.invest__inner-box-content p {
  font-weight: 400;
  font-size: 1em;
  color: #3D424D;
}
.invest__inner-box-button {
  padding: 0.5em 1em;
  width: 7.5em;
  height: 2.6em;
}

.numslider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 7.5em 0;
  background-color: #fff;
}
.numslider__inner {
  width: 81.25vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1170px;
}
.numslider__inner-content h1 {
  font-weight: 700;
  font-size: 3.5em;
  color: #171B26;
}
.numslider__inner-content h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 0.875em;
  letter-spacing: 0.04em;
  line-height: 1.75em;
  color: #32327C;
}
.numslider__inner-content p {
  font-weight: 500;
  font-size: 1.25em;
  color: #3D424D;
}
.numslider__inner-slider {
  width: 57.17%;
  margin: 10px;
  min-width: 350px;
  height: 232px;
  background-color: #F5F5FA;
  border: 1px dashed rgba(50, 50, 124, 0.5);
  border-radius: 8px;
}

.about-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3.75em 30px;
}
.about-hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-hero__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 52%;
  max-width: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
}
.about-hero__inner-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.5em;
}
.about-hero__inner-subcontent-title {
  font-weight: 700;
  font-size: 3.5em;
  color: #171B26;
}
.about-hero__inner-subcontent-p {
  font-style: normal;
  font-weight: 500;
  font-size: 1.1em;
  color: #3D424D;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}
.about-hero__inner-images {
  width: 49%;
  height: 35vw;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
.about-hero__inner-images div {
  overflow-x: hidden;
  opacity: 0.5;
}
.about-hero__inner-images .vector1 {
  position: absolute;
  background-color: #fff;
  width: 55%;
  height: 15.2%;
  right: -10%;
  top: 18%;
}
.about-hero__inner-images .vector2 {
  position: absolute;
  background-color: #fff;
  width: 55%;
  height: 15.2%;
  padding-left: 20%;
  bottom: 5%;
  right: 26.5%;
}
.about-hero__inner-images img {
  position: absolute;
  background: #C4C4C4;
  border-radius: 20px;
  width: 100%;
  height: auto;
}
.about-hero__inner-images img.first {
  top: 0;
  left: 0;
  width: 65%;
  height: 80%;
  max-width: 370px;
  max-height: 400px;
  z-index: 1;
}
.about-hero__inner-images img.second {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 48%;
  height: 67%;
  max-width: 270px;
  max-height: 334px;
  z-index: 2;
}

.team {
  padding: 3.75em 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.team__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4em;
}
.team__inner-title {
  text-align: center;
  color: #171B26;
}
.team__inner-boxes {
  width: 100%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 2em;
}
.team__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5em;
  margin: 2px;
}
.team__inner-box .person-img {
  max-width: 358px;
  max-height: 370px;
  width: 24em;
  height: 26.5em;
}
.team__inner-box .box-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.team__inner-box .box-content .person-social ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 56px;
  width: 94px;
}

.partners {
  padding: 3.75em 30px;
}
.partners__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 3em;
}
.partners__inner-content {
  max-width: 470px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 1.5em;
}
.partners__inner-content h2 {
  font-size: 3em;
  font-weight: 700;
}
.partners__inner-content p {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 27px;
}
.partners__inner-logos {
  max-width: 570px;
  min-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 49%;
  row-gap: 4em;
}
.partners__inner-logos img {
  max-width: 163.33px;
  max-height: 40px;
  width: 28.7%;
  height: 16%;
  opacity: 0.8;
}

.history {
  background-color: #32327C;
  color: #fff;
  padding: 3.75em 30px;
}
.history__inner {
  margin-top: 3.75em;
  margin-bottom: 3.75em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4em;
}
.history__inner h2 {
  font-size: 3em;
  font-weight: 600;
}
.history__inner-boxes {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__inner-box {
  max-width: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.75em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.history__inner-box-year {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding: 8px 16px;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 8px;
}
.history__inner-box-content {
  background-color: #d9d9d9;
  width: 100%;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 12px;
}
.history__inner-box-content h5 {
  color: #171B26;
  font-weight: 600;
  font-size: 1.1em;
  line-height: 122%;
  text-align: center;
  letter-spacing: -0.01em;
}
.history__inner-box-content p {
  color: #3D424D;
  font-weight: 500;
  font-size: 0.8em;
  line-height: 22px;
  text-align: center;
  letter-spacing: -0.01em;
}

.overview {
  padding: 3.75em 2em;
}
.overview__inner {
  margin-top: 3.75em;
  margin-bottom: 3.75em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 5px;
}
.overview__inner-worksheet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.overview__inner-worksheet-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.overview__inner-worksheet-form .form-question {
  width: 25%;
  padding: 1em;
  background-color: #f2f4f5;
  color: #171B26;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}
.overview__inner-worksheet-form .form-answer {
  width: 75%;
  padding: 1em;
  background-color: #fafafa;
  color: #3D424D;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.5em;
}

.achievement {
  padding: 3.75em 0;
  background-color: #F7F7FA;
}
.achievement__inner {
  margin: 3.75em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.achievement__inner-content {
  max-width: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  text-align: center;
}
.achievement__inner-content p {
  color: #3D424D;
}
.achievement__inner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 2.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.achievement__inner-box {
  padding: 1.5em 2.5em;
  background-color: #FEFEFE;
  -webkit-box-shadow: 0px 4px 16px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 4px 16px rgba(16, 24, 40, 0.04);
  border-radius: 8px;
}
.achievement__inner-box h3 {
  color: #32327C;
}
.achievement__inner-box p {
  color: #3D424D;
}

.investments {
  padding: 3.75em 0;
  background-color: #e5e5e5;
}
.investments__inner {
  margin-top: 3em;
  margin-bottom: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.25em;
}
.investments__inner h3 {
  color: #32327C;
  font-weight: 600;
}
.investments__inner-boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 1.875em;
}
.investments__inner-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 370.33px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.04);
  border-radius: 8px;
  width: 24em;
}
.investments__inner-box img {
  width: 100%;
}
.investments__inner-box .box-content {
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5em;
  width: 100%;
  font-size: 0.8em;
  line-height: 1.4em;
  color: #171B26;
}
.investments__inner-box .box-content span {
  font-weight: 500;
}
.investments__inner-box .box-content p {
  font-weight: 400;
}
.investments__inner-box .box-content-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25em;
}
.investments__inner-box .box-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.structure {
  padding: 3.75em 0;
  background-color: #fff;
}
.structure__inner {
  margin: 3.75em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.structure__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  text-align: center;
}
.structure__inner-content h2 {
  font-weight: 600;
}
.structure__inner-content p {
  max-width: 70%;
}
.structure__inner img {
  width: 92%;
  height: auto;
}

.second {
  background-color: #e5e5e5;
}

.contact {
  padding: 3.75em 0;
  height: 100%;
}
.contact__inner {
  margin: 3.75em 0;
  position: relative;
}
.contact__inner-box {
  padding: 2.5em;
  max-width: 376px;
  width: 33%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0px 8px 40px -4px rgba(50, 50, 124, 0.08);
          box-shadow: 0px 8px 40px -4px rgba(50, 50, 124, 0.08);
  border-radius: 12px;
  background-color: #fff;
}
.contact__inner-box .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.contact__inner-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
}
.contact__inner-box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contact__inner .map {
  position: absolute;
  top: -7.5em;
  right: 0;
  width: 70vw;
  height: 49vw;
  max-width: 1008px;
  max-height: 660px;
  z-index: -1;
}

.privacy {
  padding: 4.5em 0 3.75em 0;
}
.privacy__inner {
  padding: 0 2em 3.75em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.privacy__inner-box {
  max-width: 270px;
  width: 23%;
  padding: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.625em;
  background-color: #fafafa;
  border-radius: 8px;
}
.privacy__inner-box h6 {
  font-weight: 500;
  letter-spacing: 4%;
}
.privacy__inner-box ul li {
  cursor: pointer;
  padding: 0.625em 0.75em;
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  font-weight: 400;
  font-size: 0.875em;
  color: #3D424D;
}
.privacy__inner-box ul .active {
  background-color: #fff;
  color: #32327C;
}
.privacy__inner-content {
  max-width: 770px;
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3.75em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.privacy__inner-content-subcontent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 3em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.privacy__inner-content-subcontent .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.8em;
}
.privacy__inner-content-subcontent .title h2 {
  font-weight: 600;
  font-size: 2.5em;
}
.privacy__inner-content-subcontent .title span {
  font-weight: 400;
  font-size: 0.875em;
  color: #3D424D;
}
.privacy__inner-content-subcontent p {
  font-size: 1.125em;
}
.privacy__inner-content .content-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}
.privacy__inner-content .content-box h3 {
  font-size: 2.5em;
  font-weight: 500;
}
.privacy__inner-content .content-box p {
  font-size: 1.125em;
}
.privacy__inner-content .content-box h5 {
  margin-top: 0.5em;
  font-weight: 600;
}
.privacy__inner-content .content-box ul li {
  padding-left: 1em;
}
.privacy__inner-content .content-box ul li::before {
  content: "•";
  color: black;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

@media (max-width: 1440px) {
  * {
    font-size: 14px;
  }
}
@media (max-width: 1000px) {
  * {
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  * {
    font-size: 10px;
  }
  .header__inner {
    padding: 0.5em 1.18em;
  }
  .header__inner-nav-links {
    position: fixed;
    left: -100%;
    top: 8rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .header__inner-nav-links.active {
    left: 0;
  }
  .header__inner-nav-item {
    margin: 2.5rem 0;
  }
  .header__inner-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .header__inner-navigation .burger {
    display: block;
    cursor: pointer;
  }
  .header__inner-navigation .burger.active .line:nth-child(2) {
    opacity: 0;
  }
  .header__inner-navigation .burger.active .line:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
            transform: translateY(8px) rotate(45deg);
  }
  .header__inner-navigation .burger.active .line:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
            transform: translateY(-8px) rotate(-45deg);
  }
  .hero__inner-content {
    padding: 1em 1em;
    background-image: url("../../../images/joel-filipe-RFDP7_80v5A-unsplash 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    border-radius: 8px;
  }
  .hero__inner-p {
    font-size: 0.8em;
  }
  .hero__inner-img {
    display: none;
  }
  .achievement__inner-content {
    max-width: 450px;
  }
}
@media (max-width: 500px) {
  * {
    font-size: 8px;
  }
  .choose {
    padding: 5em 0;
  }
  .choose__inner-images {
    display: none;
  }
  .choose__inner-content {
    width: 100%;
  }
  .do {
    padding: 5em 0;
  }
  .do__inner-content {
    width: 100%;
  }
  .do__inner-boxes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .do__inner-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 0;
    gap: 1.5em;
    -webkit-box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
            box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
  }
  .do__inner-box:hover {
    -webkit-box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
            box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
  }
  .invest {
    padding: 5em 0;
  }
  .numslider__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .about-hero__inner-content {
    width: 100%;
  }
  .about-hero__inner-images {
    width: 100%;
    height: 60vw;
  }
  .achievement__inner-content {
    max-width: 300px;
  }
}