/*** 

====================================================================
	Reset
====================================================================

***/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
html {
  height: 100%;
  scroll-behavior: smooth;
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  background: transparent;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
  ====================================================================
      Global Settings
  ====================================================================
   ***/
body {
  height: 100%;
  cursor: default;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #171b26;
  line-height: 1.7;
  font-weight: 400;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

h1 {
  font-weight: 700;
  line-height: 1.15;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  line-height: 1.2;
}

/* Typography */
h1 {
  font-size: 56px;
}

h2 {
  font-size: 48px;
}
h2._sm {
  font-size: 40px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 24px;
}
h4_sm {
  font-size: 22px;
}

h5 {
  font-size: 22px;
}

h6 {
  font-size: 18px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}
p._lg {
  font-size: 18px;
}
p_sm {
  font-size: 14px;
}

.nowrap {
  white-space: nowrap;
}

.autoContainer {
  max-width: 1290px;
  margin: 0 auto;
  padding: 0 60px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 20px;
  width: 5em;
  height: 3.5em;
}
.logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.ratioImage {
  position: relative;
  padding-bottom: 65%;
  width: 100%;
}
.ratioImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.button {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1em 1.5em;
  border: 1px solid transparent;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  color: #32327c;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button--primary {
  background-color: #32327c;
  border-color: #32327c;
  color: #fff;
}
.button--primary:hover {
  color: #32327c;
  background: #fff;
}
.button--icon {
  position: relative;
  width: 1.3em;
  height: 1.3em;
  padding: 0;
}
.button--icon.smIcon {
  width: 1em;
  height: 1em;
}
.button--icon:hover::after {
  opacity: 0.2;
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
}
.button--icon::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: currentColor;
  border-radius: 50%;
  opacity: 0;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}

.header + section {
  margin-top: 120px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.header {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  z-index: 1;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, padding, -webkit-transform;
  transition-property: opacity, transform, padding;
  transition-property: opacity, transform, padding, -webkit-transform;
}
.header .autoContainer {
  max-width: 1360px;
}
.header__inner {
  position: relative;
  z-index: 2;
  padding: 10px 35px;
  -webkit-box-shadow: 0px 6px 20px rgba(50, 50, 124, 0.08);
          box-shadow: 0px 6px 20px rgba(50, 50, 124, 0.08);
  background-color: #fff;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.header__inner .logo {
  position: relative;
  -webkit-transition: 0.25s ease-out;
  transition: 0.25s ease-out;
}
.header__inner .logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__inner .nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 980px;
}
.header__inner .nav__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__inner .nav__inner-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.header__inner .nav__inner-group .switchLang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 16px;
  gap: 0.5em;
}
.header__inner .nav__inner-group .switchLang.active span:first-child {
  color: #3d424d;
}
.header__inner .nav__inner-group .switchLang.active span:last-child {
  color: #3c50e0;
}
.header__inner .nav__inner-group .switchLang.active.switchLang__label::after {
  left: calc(100% - 1.05em);
}
.header__inner .nav__inner-group .switchLang span {
  cursor: pointer;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  color: #3d424d;
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__inner .nav__inner-group .switchLang span:first-child {
  color: #3c50e0;
}
.header__inner .nav__inner-group .switchLang__label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 1.2em;
  width: 1.9em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 0.55em;
  background-color: #e0e2ff;
}
.header__inner .nav__inner-group .switchLang__label::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0.2em;
  width: 0.85em;
  height: 0.85em;
  border-radius: 50%;
  background: #3c50e0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}
.header__inner .nav__inner-link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4px;
  color: #3d424d;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  -webkit-transition: 0.3 ease-out;
  transition: 0.3 ease-out;
}
.header__inner .nav__inner-link.active {
  color: #32327c;
  font-weight: 500;
}
.header__inner .nav__inner-link:hover {
  color: #32327c;
  opacity: 0.8;
}
.header__inner .burger {
  display: none;
}
.header.sticky {
  position: fixed;
  top: -10px;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  border-radius: 0 0 12px 12px;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 10px;
  width: 2.6em;
  height: 2em;
  color: #3c50e0;
  background: transparent;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.footer {
  margin-top: auto;
  background: #09092d;
  overflow: hidden;
}
.footer__inner {
  padding: 80px 0 120px 0;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__inner-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
  width: 270px;
}
.footer__inner-info .logo {
  font-size: 22px;
}
.footer__inner-info .logo img {
  -o-object-position: left;
     object-position: left;
}
.footer__inner-info p {
  color: #fff;
  opacity: 0.6;
  margin-top: 1em;
}
.footer__inner-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: calc(100% - 600px);
}
.footer__inner-links-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 24px;
}
.footer__inner-link {
  color: #fff;
  opacity: 0.6;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.005em;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
}
.footer__inner-link:hover {
  color: #fff;
  opacity: 1;
}
.footer__inner-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 250px;
  gap: 24px;
}
.footer__inner-social p {
  color: #fff;
  opacity: 0.6;
}
.footer__copyright {
  position: relative;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  padding: 1.4em 0;
}
.footer__copyright p {
  font-style: normal;
  font-weight: 400;
  font-size: inherit;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.005em;
  color: #fff;
  opacity: 0.6;
}
.footer__copyright a {
  font-family: "Inter", sans-serif;
  font-size: inherit;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 250px;
}
.footer__copyright a:hover {
  color: #fff;
  opacity: 1;
}
.footer__copyright::after {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  width: 105vw;
  height: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #0f0f3d;
  z-index: -1;
}

.hero {
  padding: 100px 0 120px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: calc(100vh - 120px);
}
.hero .autoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
}
.hero .autoContainer > div {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  min-height: 100%;
  max-height: 1100px;
}
.hero__inner-content {
  margin: 0 auto;
  width: 500px;
}
.hero__inner-content strong {
  display: block;
  margin-bottom: 1em;
  color: #32327c;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.hero__inner-content h1 {
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 0.44em;
}
.hero__inner-content .button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 45px;
}
.hero__inner-banner {
  width: calc(100% - 530px);
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
  max-width: 520px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero__inner-banner._advanced {
  max-width: 600px;
}
.hero__inner-banner._advanced .hero__banner {
  height: 600px;
}
.hero__banner {
  position: relative;
  border-radius: 20px;
  height: 100%;
  width: 100%;
  max-height: 650px;
  z-index: 0;
}
.hero__banner img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero--border {
  position: relative;
}
.hero--border::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  width: 90%;
  max-width: 1170px;
  height: 2px;
  background: rgba(224, 226, 255, 0.8);
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
}

.whyUs {
  background: #f7f7fa;
  padding: 120px 0;
}
.whyUs__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
}
.whyUs__inner-banner {
  width: calc(100% - 500px);
  max-width: 500px;
}
.whyUs__inner-banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.whyUs__inner-content {
  width: 500px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
  font-weight: 500;
}
.whyUs__inner-content h2 {
  font-weight: 700;
  line-height: 1.2;
  -webkit-columns: #171b26;
     -moz-columns: #171b26;
          columns: #171b26;
}
.whyUs__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.whyUs__list-item {
  position: relative;
  font-size: 24px;
  padding-left: 3em;
}
.whyUs__list-item-icon {
  position: absolute;
  left: 0;
  width: 2em;
  height: 2em;
}
.whyUs__list-item-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.whyUs__list-item p {
  margin-top: 0.5em;
}

.grid__inner h2 {
  margin-bottom: 60px;
  text-align: center;
}
.grid__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 48px 30px;
}

.gridItem {
  width: calc(33.3% - 20px);
  max-width: 358px;
}
.gridItem__image {
  width: 100%;
  margin-bottom: 24px;
}
.gridItem__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.gridItem__info-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.gridItem .button--icon {
  margin-right: 22px;
  width: 16px;
  height: 16px;
}
.gridItem .button--icon:last-child {
  margin-right: 0;
}
.gridItem .ratioImage {
  padding-bottom: 104%;
}
.gridItem h4 {
  margin-bottom: 4px;
}
.gridItem p {
  color: #3d424d;
}

.grid--service {
  padding: 120px 0;
}
.grid--service .gridItem {
  padding: 36px 20px;
  -webkit-box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
          box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
  border-radius: 8px;
  background: #fefefe;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
}
.grid--service .gridItem__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 70px;
  height: 70px;
  margin: 0 auto 48px;
}
.grid--service .gridItem__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.grid--service .gridItem__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid--service .gridItem__info p {
  max-width: 280px;
  margin: 0 auto;
}
.grid--service .gridItem:hover {
  -webkit-box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
          box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
}

.grid--invest {
  background: #f7f7fa;
}
.grid--invest .grid__inner {
  padding: 120px 0 85px;
  max-width: 1096px;
  margin: 0 auto;
}
.grid--invest .gridItem {
  background-color: #fff;
  padding: 32px;
  -webkit-box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
          box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.grid--invest .gridItem h4 {
  margin-bottom: 16px;
}
.grid--invest .gridItem p {
  margin-bottom: 24px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  line-height: 1.65em;
  max-width: 270px;
}

.grid--team {
  padding: 120px 0;
}
.grid--team .grid__inner-row {
  max-width: 1135px;
  margin: 0 auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.grid--achievement {
  background-color: #f7f7fa;
}
.grid--achievement .grid__inner {
  padding: 155px 0 85px;
}
.grid--achievement .grid__inner-header {
  max-width: 570px;
  margin: 0 auto 60px;
  text-align: center;
}
.grid--achievement .grid__inner-header h2 {
  margin-bottom: 16px;
}
.grid--achievement .grid__inner-header p {
  color: #3d424d;
}
.grid--achievement .grid__inner-row {
  gap: 20px;
}
.grid--achievement .gridItem {
  width: calc(33.3% - 15px);
  padding: 23px 30px;
  background-color: #fff;
  text-align: center;
  -webkit-box-shadow: 0px 4px 16px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 4px 16px rgba(16, 24, 40, 0.04);
  border-radius: 8px;
}
.grid--achievement .gridItem h3 {
  color: #32327c;
  font-weight: 700;
  margin-bottom: 8px;
}
.grid--achievement .gridItem p {
  color: #3d424d;
}

.grid--selection {
  background-color: #fafafa;
  padding: 120px 0;
}
.grid--selection .grid__inner h3 {
  color: #32327c;
  margin-bottom: 52px;
}
.grid--selection .grid__inner-row {
  gap: 30px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.grid--selection .gridItem {
  width: calc(33.3% - 20px);
  -webkit-box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.04);
          box-shadow: 0px 2px 4px rgba(16, 24, 40, 0.04);
  border-radius: 8px;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  max-width: 370px;
}
.grid--selection .gridItem__image {
  margin-bottom: 0;
}
.grid--selection .gridItem__image .ratioImage {
  padding-bottom: 76.5%;
}
.grid--selection .gridItem__info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: left;
  padding: 25px;
  gap: 0;
}
.grid--selection .gridItem__info-row {
  width: 100%;
  max-width: 290px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
}
.grid--selection .gridItem__info-row p {
  max-width: 150px;
}
.grid--selection .gridItem__info-row p strong {
  display: block;
  margin-right: unset !important;
}
.grid--selection .gridItem h4 {
  margin-bottom: 8px;
}
.grid--selection .gridItem p strong {
  color: #171b26;
  font-weight: 500;
  margin-right: 0.5em;
}

.feedbacks {
  padding: 120px 0;
}
.feedbacks__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.feedbacks__slider {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 !important;
  z-index: 0;
}
.feedbacks__slider-item {
  font-size: 30px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
  gap: 1em;
  border-radius: 8px;
  border: 1px dashed rgba(50, 50, 124, 0.5);
  padding: 1em 3.4em;
  background: #f5f5fa;
}
.feedbacks__slider-item p {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  color: #171b26;
}

.roadmap {
  padding: 120px 0;
  background-color: #32327c;
}
.roadmap__inner h2 {
  margin-bottom: 1.3em;
  color: #fff;
  text-align: center;
  font-style: normal;
  font-weight: 600;
}
.roadmap__inner-track {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  gap: 1em;
  font-size: 20px;
  z-index: 0;
}
.roadmap__inner-track::before {
  position: absolute;
  content: "";
  top: 0.9em;
  left: 0;
  width: 100%;
  height: 0;
  border-top: 1px dashed rgba(255, 255, 255, 0.2);
  z-index: -1;
}
.roadmap__item {
  font-size: inherit;
  max-width: 210px;
}
.roadmap__item-badge {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: inherit;
}
.roadmap__item-badge span {
  background-color: #32327c;
  border: 1px dashed rgba(255, 255, 255, 0.2);
  border-radius: 0.4em;
  padding: 0.4em 0.8em;
  color: #fff;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
}
.roadmap__item-content {
  position: relative;
  border-radius: 12px;
  padding: 1em;
  margin-top: 4em;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 10px;
}
.roadmap__item-content strong {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.01em;
  color: #171b26;
}
.roadmap__item-content p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: -0.01em;
  color: #3d424d;
}
.roadmap__item-content::after {
  position: absolute;
  content: "";
  bottom: 100%;
  left: 50%;
  font-size: inherit;
  border-right: 1em solid transparent;
  border-left: 1em solid transparent;
  border-bottom: 1em solid #ebebeb;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.overview {
  padding: 120px 0;
}
.overview__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 60px;
}
.overview__inner h2 {
  text-align: center;
  font-weight: 700;
}
.overview__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e5e5e5;
}
.overviewContent {
  padding: 16px 16px;
  width: calc(100% - 250px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background-color: #f7f7fa;
}
.overviewContent--caption {
  background-color: #ebebeb;
  width: 250px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.overviewContent--caption h6 {
  font-weight: 700;
}
.overviewContent p {
  color: #3d424d;
  line-height: 1.5;
}

.heroTitle {
  background-color: #32327c;
  margin: 0 !important;
}
.heroTitle__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50vh;
  padding: 130px 0 60px 0;
  color: #fff;
  text-align: center;
}

.map {
  overflow: hidden;
  z-index: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.map .autoContainer {
  width: 100%;
}
.map .autoContainer > div {
  height: 100%;
}
.map__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 195px 0;
  position: relative;
}
.map__inner-info {
  position: relative;
  z-index: 1;
  margin-left: 35px;
  width: 100%;
  max-width: 375px;
  padding: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  background-color: #fff;
  -webkit-box-shadow: 0px 8px 40px -4px rgba(50, 50, 124, 0.08);
          box-shadow: 0px 8px 40px -4px rgba(50, 50, 124, 0.08);
  border-radius: 12px;
}
.map__inner-info p {
  color: #3d424d;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.map__inner-info ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-top: 16px;
}
.map__inner-info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 15px;
}
.map__inner-info ul li span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 4px;
}
.map__inner-info ul li span svg {
  width: 18px;
  height: 18px;
}
.map__inner-map {
  position: absolute;
  top: 0;
  left: 30%;
  width: 100%;
  height: 100%;
}
.map__inner-map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.scroll {
  padding: 100px 0;
}
.scroll__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.scroll__inner-tabs {
  position: sticky;
  top: 100px;
  width: 270px;
  padding: 16px;
  background-color: #fafafa;
  border-radius: 8px;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.scroll__inner-tabs h6 {
  font-weight: 500;
  margin-bottom: 10px;
}
.scroll__inner-tabs a {
  display: block;
  padding: 10px 20px;
  border-radius: 8px;
  color: #171b26;
  line-height: 1.45em;
}
.scroll__inner-tabs a.active {
  -webkit-box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
          box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
  background: #fff;
  color: #32327c;
}
.scroll__inner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  width: calc(100% - 330px);
  max-width: 770px;
}

.anchor {
  position: relative;
  top: -60px;
}

.scrollContent__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}
.scrollContent__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.scrollContent__body.list p {
  color: #3d424d;
}
.scrollContent__body p span {
  padding-left: 1.5em;
  display: block;
}

@media (max-width: 1280px) {
  h1 {
    font-size: 52px;
  }
  h2 {
    font-size: 45px;
  }
  h2._sm {
    font-size: 38px;
  }
}
@media (max-width: 1160px) {
  h1 {
    font-size: 46px;
  }
  h2._sm {
    font-size: 38px;
  }
  .autoContainer {
    padding: 0 40px;
  }
  .header + section {
    margin-top: 105px;
  }
  .header {
    top: 20px;
  }
  .header__inner {
    margin: 0 -10px;
  }
  .header__inner .logo {
    font-size: 18px;
  }
  .hero {
    padding: 80px 0 100px 0;
  }
  .hero__inner {
    height: unset;
    min-height: 60vh;
  }
  .hero__inner-content {
    width: 430px;
  }
  .hero__inner-banner {
    width: calc(100% - 450px);
    max-width: 430px;
  }
  .whyUs {
    padding: 100px 0;
  }
  .whyUs__inner-content {
    margin: 0;
  }
  .whyUs__list {
    gap: 20px;
  }
  .whyUs__list-item {
    font-size: 20px;
  }
  .grid--service {
    padding: 100px 0;
  }
  .grid--service .grid__inner-row {
    gap: 30px;
  }
  .grid--service .gridItem {
    width: calc(33.3% - 20px);
  }
  .grid--service .gridItem__image {
    margin-bottom: 38px;
    width: 65px;
    height: 65px;
  }
  .grid--service .gridItem__info {
    gap: 12px;
  }
  .grid--invest .grid__inner {
    padding: 100px 0 80px;
  }
  .grid--achievement .grid__inner {
    padding: 140px 0 80px;
  }
  .grid--achievement .grid__inner-row {
    gap: 30px 20px;
  }
  .grid__inner h2 {
    margin-bottom: 50px;
  }
  .grid__inner-row {
    gap: 40px 30px;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .gridItem {
    width: calc(33.3% - 20px);
  }
  .grid h4 {
    font-size: 22px;
  }
  .grid p {
    font-size: 15px;
  }
  .grid--team {
    padding: 100px 0;
  }
  .grid--selection {
    padding: 100px 0;
  }
  .grid--selection .grid__inner h3 {
    margin-bottom: 45px;
  }
  .grid--selection .grid__inner-row {
    gap: 25px;
  }
  .grid--selection .gridItem {
    width: calc(33.3% - 18px);
  }
  .grid--selection .gridItem__info {
    padding: 20px;
  }
  .feedbacks {
    padding: 100px 0;
  }
  .feedbacks__slider-item {
    padding: 25px 80px;
  }
  .feedbacks__slider-item p {
    font-size: 18px;
  }
  .heroTitle__inner {
    padding: 110px 0 40px 0;
  }
  .map__inner {
    padding: 190px 0;
  }
  .map__inner-info {
    margin: 0;
  }
  .map__inner-map {
    left: 65%;
    width: 105vw;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media (max-width: 1025px) {
  body {
    font-size: 13px;
  }
  h1 {
    font-size: 42px;
  }
  h2 {
    font-size: 40px;
  }
  h2._sm {
    font-size: 32px;
  }
  h3 {
    font-size: 28px;
  }
  .autoContainer {
    padding: 0 30px;
  }
  .button {
    font-size: 14px;
  }
  .header + section {
    margin-top: 100px;
  }
  .header__inner {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header__inner .logo {
    font-size: 16px;
  }
  .header__inner .burger {
    display: block;
    z-index: 2;
  }
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 27, 38, 0.4);
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
    z-index: 0;
    -webkit-transform: translate(100%);
            transform: translate(100%);
    opacity: 0;
    pointer-events: none;
    max-width: unset !important;
    -webkit-transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
    transition: all 0s ease 0.25s, opacity 0.2s ease-in-out 0s;
  }
  .nav__inner {
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    min-width: 280px;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background: #fff;
    -webkit-box-shadow: 0px 4px 24px -1px rgba(23, 27, 38, 0.2);
            box-shadow: 0px 4px 24px -1px rgba(23, 27, 38, 0.2);
    padding: 50px 25px;
    -webkit-transform: translate(-100%);
            transform: translate(-100%);
    opacity: 0;
    -webkit-transition: 0.15s ease-in-out 0s;
    transition: 0.15s ease-in-out 0s;
  }
  .nav__inner-group {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 25px 0;
    gap: 8px;
    color: #171b26;
    border-top: 1px solid #fff;
    width: 100%;
  }
  .nav__inner-group:first-child {
    border: 0;
  }
  .nav__inner-link {
    color: #171b26;
  }
  .footer__inner {
    padding: 80px 0;
  }
  .hero {
    padding: 60px 0 80px 0;
  }
  .whyUs {
    padding: 80px 0;
  }
  .grid--service {
    padding: 80px 0;
  }
  .grid--service .grid__inner-row {
    gap: 25px;
  }
  .grid--service .gridItem {
    width: calc(33.3% - 17px);
  }
  .grid--service .gridItem__image {
    margin-bottom: 30px;
    width: 60px;
    height: 60px;
  }
  .grid--service .gridItem__info {
    gap: 10px;
  }
  .grid--invest .grid__inner {
    padding: 90px 0 70px;
  }
  .grid--invest .gridItem {
    padding: 27px;
  }
  .grid--achievement .grid__inner {
    padding: 120px 0 70px;
  }
  .grid--achievement .grid__inner-header {
    margin-bottom: 50px;
  }
  .grid--achievement .grid__inner-header h2 {
    margin-bottom: 12px;
  }
  .grid--achievement .grid__inner-row {
    gap: 30px 20px;
  }
  .grid__inner h2 {
    margin-bottom: 45px;
  }
  .grid__inner-row {
    gap: 35px 25px;
  }
  .gridItem {
    width: calc(33.3% - 18px);
  }
  .grid h4 {
    font-size: 20px;
  }
  .grid p {
    font-size: 14px;
  }
  .grid--team {
    padding: 80px 0;
  }
  .grid--selection {
    padding: 80px 0;
  }
  .grid--selection .grid__inner h3 {
    margin-bottom: 40px;
  }
  .grid--selection .grid__inner-row {
    gap: 25px 15px;
  }
  .grid--selection .gridItem {
    width: calc(33.3% - 10px);
  }
  .grid--selection .gridItem__info {
    padding: 20px;
  }
  .grid--selection .gridItem__info h4 {
    margin-bottom: 5px;
  }
  .grid--selection .gridItem-row {
    margin-top: 12px;
    max-width: 315px;
  }
  .feedbacks {
    padding: 80px 0;
  }
  .feedbacks__slider-item {
    padding: 25px 60px;
  }
  .feedbacks__slider-item p {
    font-size: 16px;
  }
  .overview {
    padding: 100px 0;
  }
  .overview__inner {
    gap: 45px;
  }
  .scroll {
    padding: 80px 0;
  }
  .scroll__inner-tabs {
    width: 260px;
  }
  .scroll__inner-content {
    width: calc(100% - 300px);
    gap: 20px;
  }
  .scrollContent__header {
    margin-bottom: 20px;
    gap: 12px;
  }
}
@media (max-width: 940px) {
  h1 {
    font-size: 38px;
  }
  h4 {
    font-size: 22px;
  }
  h4._sm {
    font-size: 20px;
  }
  .autoContainer {
    padding: 0 25px;
  }
  .footer__inner {
    padding: 60px 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px 20px;
  }
  .footer__inner-links {
    width: calc(100% - 300px);
  }
  .footer__inner-social {
    width: 100%;
    max-width: 400px;
  }
  .footer__copyright {
    width: calc(100% - 300px);
    text-align: center;
  }
  .hero {
    padding: 60px 0;
  }
  .hero__inner {
    gap: 20px;
    min-height: 55vh;
  }
  .hero__inner-content {
    width: 350px;
  }
  .hero__inner-banner {
    width: calc(100% - 370px);
    max-width: 350px;
  }
  .whyUs {
    padding: 60px 0;
  }
  .whyUs__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .whyUs__inner-banner {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .whyUs__inner-content {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .grid--service {
    padding: 70px 0;
  }
  .grid--service .grid__inner-row {
    gap: 10px;
  }
  .grid--service .gridItem {
    padding: 30px 15px;
    width: calc(33.3% - 7px);
  }
  .grid--service .gridItem__image {
    margin-bottom: 25px;
    width: 55px;
    height: 55px;
  }
  .grid--service .gridItem__info {
    gap: 8px;
  }
  .grid--achievement .grid__inner {
    padding: 100px 0 60px;
  }
  .grid--achievement .grid__inner-header {
    margin-bottom: 40px;
    max-width: 530px;
  }
  .grid--achievement .grid__inner-row {
    gap: 10px;
  }
  .grid--achievement .gridItem {
    padding: 20px 10px;
  }
  .grid--achievement .gridItem h3 {
    margin-bottom: 5px;
  }
  .grid--invest .grid__inner {
    padding: 70px 0 50px;
  }
  .grid--invest .grid__inner-row {
    gap: 10px;
  }
  .grid--invest .gridItem {
    padding: 25px 20px;
    width: calc(33.3% - 7px);
  }
  .grid__inner h2 {
    margin-bottom: 35px;
  }
  .grid__inner-row {
    gap: 25px 15px;
  }
  .gridItem {
    width: calc(33.3% - 10px);
  }
  .grid h4 {
    font-size: 18px;
  }
  .grid--team {
    padding: 60px 0;
  }
  .grid--selection .grid__inner h3 {
    margin-bottom: 35px;
  }
  .grid--selection .grid__inner-row {
    gap: 25px 20px;
  }
  .grid--selection .gridItem {
    width: calc(50% - 15px);
    max-width: unset;
  }
  .feedbacks {
    padding: 60px 0;
  }
  .feedbacks__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .feedbacks__slider {
    width: 100%;
  }
  .overview {
    padding: 80px 0;
  }
  .overview__inner {
    gap: 35px;
  }
  .overviewContent {
    padding: 12px;
    width: calc(100% - 214px);
  }
  .overviewContent h6._sm {
    font-size: 14px;
  }
  .overviewContent p {
    font-size: 14px;
  }
  .overviewContent--caption {
    width: 214px;
  }
  .roadmap {
    padding: 80px 0;
  }
  .roadmap__inner-track {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.5em;
  }
  .roadmap__inner-track::before {
    position: absolute;
    content: "";
    top: 0;
    left: 2em;
    width: 1px;
    height: 100%;
    border: unset;
    border-left: 1px dashed rgba(255, 255, 255, 0.2);
  }
  .roadmap__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    max-width: unset;
  }
  .roadmap__item-content {
    margin: 0 0 0 3em;
  }
  .roadmap__item-content::after {
    bottom: 50%;
    left: unset;
    right: 100%;
    border: unset;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-right: 1em solid #ebebeb;
  }
  .map__inner {
    padding: 80px 0;
  }
  .scroll__inner-tabs {
    width: 245px;
  }
  .scroll__inner-content {
    width: calc(100% - 280px);
  }
  .scrollContent__header {
    margin-bottom: 18px;
    gap: 10px;
  }
  .scrollContent__body p._lg {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  body {
    font-size: 12px;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 32px;
  }
  h2 h2._sm {
    font-size: 28px;
  }
  h4 {
    font-size: 20px;
  }
  h4._sm {
    font-size: 22px;
  }
  .autoContainer {
    padding: 0 15px;
  }
  .header + section {
    margin-top: 90px;
  }
  .header {
    top: 15px;
  }
  .header__inner {
    padding: 10px 15px;
  }
  .header__inner .logo {
    font-size: 14px;
  }
  .hero {
    padding: 40px 0;
  }
  .hero__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero__inner-content {
    width: 100%;
    max-width: 450px;
  }
  .hero__inner-content strong {
    font-size: 14px;
  }
  .hero__inner ._advanced .hero__banner {
    padding-bottom: 100%;
  }
  .hero__inner-banner {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
  }
  .grid--service {
    padding: 60px 0;
  }
  .grid--service .grid__inner-row {
    gap: 25px 20px;
  }
  .grid--service .gridItem {
    padding: 40px 30px;
    width: calc(50% - 15px);
  }
  .grid--service .gridItem__info {
    max-width: 245px;
    margin: 0 auto;
  }
  .grid--invest .grid__inner-row {
    gap: 25px 15px;
  }
  .grid--invest .gridItem {
    width: calc(50% - 15px);
  }
  .grid--invest .gridItem h4 {
    margin-bottom: 12px;
  }
  .grid--invest .gridItem p {
    margin-bottom: 20px;
  }
  .grid--achievement .grid__inner {
    padding: 80px 0 50px;
  }
  .grid--achievement .grid__inner-header {
    margin-bottom: 30px;
  }
  .grid--achievement .grid__inner-header h2 {
    margin-bottom: 10px;
  }
  .grid--achievement .grid__inner-row {
    gap: 25px 15px;
  }
  .grid--achievement .gridItem {
    width: calc(50% - 15px);
    max-width: unset;
  }
  .grid__inner-row {
    gap: 20px;
  }
  .gridItem {
    width: calc(50% - 15px);
  }
  .gridItem__image {
    margin-bottom: 20px;
  }
  .grid--team {
    padding: 60px 0;
  }
  .grid--team .grid__inner-row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .grid--selection {
    padding: 60px 0;
  }
  .grid--selection .grid__inner h3 {
    margin-bottom: 30px;
  }
  .grid--selection .grid__inner-row {
    gap: 25px 15px;
  }
  .grid--selection .gridItem {
    width: calc(50% - 10px);
  }
  .feedbacks__slider-item {
    padding: 25px 35px;
  }
  .roadmap {
    padding: 60px 0;
  }
  .map__inner {
    padding: 50% 0 60px 0;
  }
  .map__inner-info {
    margin: 0 auto;
    padding: 30px;
  }
  .map__inner-map {
    left: 50%;
    top: -10%;
    height: 80%;
    width: 105vw;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
  .scroll {
    padding: 60px 0;
  }
  .scroll__inner-tabs {
    width: 230px;
    padding: 12px;
    border-radius: 6px;
  }
  .scroll__inner-tabs a {
    padding: 9px 11px;
  }
  .scroll__inner-content {
    width: calc(100% - 260px);
    gap: 15px;
  }
  .scrollContent__header {
    margin-bottom: 15px;
    gap: 6px;
  }
  .scrollContent__body p._lg {
    font-size: 14px;
  }
}
@media (max-width: 660px) {
  .button {
    font-size: 12px;
  }
  .grid--service {
    padding: 50px 0;
  }
  .grid--service .grid__inner-row {
    gap: 20px 15px;
  }
  .grid--service .gridItem {
    padding: 30px 15px;
    width: calc(50% - 10px);
  }
  .grid--service .gridItem__image {
    margin-bottom: 20px;
    width: 50px;
    height: 50px;
  }
  .grid--service .gridItem__info {
    gap: 8px;
  }
  .grid--invest .grid__inner {
    padding: 60px 0 45px;
  }
  .grid--invest .grid__inner-row {
    gap: 20px 10px;
  }
  .grid--invest .gridItem {
    padding: 20px;
    width: calc(50% - 10px);
  }
  .grid--achievement .grid__inner {
    padding: 70px 0 50px;
  }
  .grid__inner-row {
    gap: 20px 15px;
  }
  .gridItem {
    width: calc(50% - 10px);
    max-width: unset;
  }
  .grid--team {
    padding: 50px 0;
  }
  .grid--selection .grid__inner-row {
    gap: 20px 10px;
  }
  .grid--selection .gridItem {
    width: calc(50% - 5px);
  }
  .grid--selection .gridItem__info {
    padding: 15px;
  }
  .overview {
    padding: 60px 0;
  }
  .overview__inner {
    gap: 30px;
  }
  .overviewContent {
    width: calc(100% - 160px);
  }
  .overviewContent--caption {
    width: 160px;
  }
  .scroll {
    padding: 40px 0;
  }
  .scroll__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
  }
  .scroll__inner-tabs {
    width: 100%;
    padding: 12px;
    border-radius: 6px;
    position: static;
  }
  .scroll__inner-tabs a {
    padding: 9px 11px;
  }
  .scroll__inner-content {
    width: 100%;
    padding-left: 0;
    gap: 20px;
  }
  .scrollContent__header {
    margin-bottom: 15px;
    gap: 6px;
  }
}
@media (max-width: 560px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 32px;
  }
  h2._sm {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
  p._lg {
    font-size: 16px;
  }
  p._sm {
    font-size: 14px;
  }
  .header {
    top: 10px;
  }
  .header__inner {
    padding: 10px 10px;
  }
  .header__inner .logo {
    font-size: 12px;
  }
  .header__inner .burger {
    font-size: 8px;
  }
  .footer__inner-info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .footer__inner-info-group {
    width: 55%;
    max-width: 210px;
    padding-left: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
  }
  .footer__inner-info h6 {
    font-size: 14px;
  }
  .footer__inner-info p {
    font-size: 10px;
  }
  .footer__inner-links {
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 30px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .footer__copyright {
    font-size: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    gap: 0.5em;
  }
  .footer__copyright a {
    width: auto;
  }
  .whyUs__list {
    gap: 16px;
  }
  .whyUs__list-item {
    font-size: 18px;
  }
  .whyUs__list-item h4 {
    font-size: 18px;
  }
  .grid--service .grid__inner-row {
    gap: 20px 10px;
  }
  .grid--service .gridItem {
    padding: 30px 15px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .grid--service .gridItem__info {
    gap: 5px;
  }
  .grid--invest .grid__inner {
    padding: 50px 0 40px;
  }
  .grid--invest .gridItem {
    padding: 20px;
    width: 100%;
  }
  .grid--achievement .grid__inner {
    padding: 50px 0 40px;
  }
  .grid--achievement .grid__inner-header {
    margin-bottom: 30px;
  }
  .grid--achievement .grid__inner-header h2 {
    margin-bottom: 10px;
  }
  .grid--achievement .grid__inner-row {
    gap: 20px 10px;
  }
  .grid--achievement .gridItem {
    width: calc(50% - 10px);
    padding: 15px;
  }
  .grid__inner-row {
    gap: 20px 10px;
  }
  .gridItem {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
  .gridItem__image {
    width: 100%;
    margin-bottom: 24px;
  }
  .grid--selection .grid__inner {
    max-width: 450px;
    margin: 0 auto;
  }
  .grid--selection .grid__inner h3 {
    margin-bottom: 25px;
  }
  .grid--selection .grid__inner-row {
    gap: 20px;
  }
  .grid--selection .gridItem {
    width: 100%;
  }
  .grid--selection .gridItem__info {
    padding: 15px;
  }
  .overview {
    padding: 50px 0;
  }
  .overviewContent {
    width: calc(100% - 160px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .overviewContent--caption {
    width: 160px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .roadmap__inner-track {
    font-size: 18px;
    gap: 1em;
  }
  .roadmap-item-content {
    margin-left: 1.4em;
  }
  .map__inner {
    padding: 70% 0 60px 0;
  }
  .map__inner-map {
    left: 50%;
    top: -20%;
    height: 80%;
    width: 105vw;
    -webkit-transform: translate(-50%);
            transform: translate(-50%);
  }
}
@media (max-width: 460px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  .grid--service .gridItem {
    padding: 30px 15px;
    width: 100%;
    max-width: 350px;
  }
  .grid--service .gridItem__info {
    gap: 5px;
  }
  .grid__inner h2 {
    margin-bottom: 30px;
  }
  .grid__inner-row {
    gap: 20px;
  }
  .grid--achievement .grid__inner-header {
    margin-bottom: 20px;
  }
  .grid--achievement .grid__inner-row {
    gap: 20px;
  }
  .grid--achievement .gridItem {
    width: 100%;
  }
  .overview__inner-content {
    overflow-x: scroll;
  }
  .overview__inner-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .overviewContent {
    width: 100%;
  }
  .overviewContent--caption {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .roadmap__inner-track {
    font-size: 16px;
  }
  .scroll__inner {
    gap: 20px;
  }
  .scroll__inner-content {
    width: 100%;
    gap: 15px;
  }
  .scrollContent__header {
    margin-bottom: 10px;
    gap: 6px;
  }
}