.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $footer-bg-color;
    color: $white;
    padding-block: 2em;
    padding-inline: 6.94%;
    border: 0;

    h4 {
        font-weight: 600;
        font-size: 1.06em;
        line-height: 1.31em;
        letter-spacing: 0.005em;
        color: $white;
    }

    p {
        font-weight: 400;
        font-size:  1.1em;
        line-height: 1.125em;
        letter-spacing: 0.005em;
        opacity: 0.6;
        
    }

    &__inner {
        max-width: 1170px;
        width: 80vw;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        gap: 2em;

        &-logoGroup {
            display: flex;
            gap: 1.5em;
            flex-direction: column;
            max-width: 16.82em;
            min-width: 300px;

            img {
                width: 110px;
                height: 80px;
            }

            &-content {
                display: flex;
                flex-direction: column;
                gap: 1em;
            }
        }

        &-group {
            max-width: 694px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 3em;
            width: 48.19vw;
            min-width: 300px;

            &-companyGroup {
                display: flex;
                flex-direction: column;
                gap: 1.5em;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5em;
                    align-items: flex-start;

                    li {
                        font-weight: 400;
                        font-size: 0.93em;
                        line-height: 1.125em;
                        letter-spacing: 0.005em;
                        color: #D2D3D6;
                    }

                    // lihoverdjvndkjlnvlndljkfvdnlkjnckjdnfndsdckns
                }
            }

            &-aboutGroup {
                display: flex;
                flex-direction: column;
                gap: 1.5em;
                max-width: 250px;


                &-social-icons ul {
                    display: flex;
                    flex-direction: row;
                    gap: 30px;

                    li a {
                        width: 20px;
                        height: 16px;
                    }
                }
            }
        }
    }
}

.subfooter {
    padding: 1em 6.94%;
    background-color: $footer-bg-color-1;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 50px;
    border: 0px;

    h5,
    span {
        font-weight: 400;
        font-size: 0.81em;
        line-height: 1em;
        text-align: center;
        letter-spacing: 0.005em;
        opacity: 0.8;
    }
}