$main: #3D424D;;
$secondary: #32327C;;
$black: #171B26;;
$black-2: #404040;
$white-1:#E0E2FF; 
$white-3: #C4C4C4;
$white-4: #d9d9d9;
$white-2:#FEFEFE;
$white-5: #fafafa;
$bg-color:#F7F7FA;
$bg-color-1: #e5e5e5;
$footer-bg-color:#09092D;
$footer-bg-color-1: #0F0F3D;

$slider-color:#F5F5FA;


$blue: #3C50E0;
$blue-1: #09092D;
$white: #fff;