.autoContainer {
    width: 1440px;
    margin: 0 30px;
}

.button{
  border-radius: 8px;
  background-color: $white;
  color: $secondary;
  border: 1px solid $secondary;


  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;

  &-hero{
    width: 134px;
    height: 48px;
  }

  &-slide{
    width: 118px;
    height: 40px;
  }
}

.button:hover{
  background-color: $secondary;
  color: $white;
}

