@media (max-width: 1440px) {
    * {
        font-size: 14px;
    }
}

@media(max-width: 1000px) {
    * {
        font-size: 12px;
    }
}

@media (max-width: 750px) {
   *{
    font-size: 10px;
   }
    .header__inner {
        padding: .5em 1.18em;

        &-nav-links {
            position: fixed;
            left: -100%;
            top: 8rem;
            flex-direction: column;
            background-color: $white;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            transition: 0.3s;
            box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);

            &.active {
                left: 0;
            }
        }

        &-nav-item {
            margin: 2.5rem 0;
        }

        &-navigation {
            display: flex;
            justify-content: flex-end;


            & .burger {
                display: block;
                cursor: pointer;

                &.active .line:nth-child(2) {
                    opacity: 0;
                }

                &.active .line:nth-child(1) {
                    transform: translateY(8px) rotate(45deg);
                }

                &.active .line:nth-child(3) {
                    transform: translateY(-8px) rotate(-45deg);
                }
            }
        }
    }

    .hero {
        &__inner {
            &-content {
                padding: 1em 1em;
                background-image: url("../../../images/joel-filipe-RFDP7_80v5A-unsplash\ 1.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                width: 100%;
                border-radius: 8px;
            }

            &-p {
                font-size: 0.8em;
            }

            &-img {
                display: none;
            }
        }
    }

    .achievement__inner-content{
        max-width: 450px;
    }
}

@media (max-width: 500px) {
    *{
        font-size: 8px;
    }
    .choose{
        padding: 5em 0;
        &__inner{
            &-images{
                display: none;
            }
            &-content{
                width: 100%;
            }
        }
    }
    .do {
        padding: 5em 0;
        &__inner {
            &-content {
                width: 100%;
            }

            &-boxes {
                flex-direction: column;
                
            }

            &-box {
                display: flex;
                align-items: flex-start;
                padding: 0;
                gap: 1.5em;
                box-shadow: 0px 2px 8px rgba(16, 24, 40, 0.06);

                &:hover {
                    box-shadow: 0px 12px 24px rgba(16, 24, 40, 0.08);
                }
            }
        }
    }

    .invest{
        padding: 5em 0;
    }
    .numslider{
        &__inner{
            flex-direction: column;
        }
    }

    .about-hero{
        &__inner{
            flex-direction: column;
            gap: 10px;

            &-content{
                width: 100%;
            }
            &-images{
                width: 100%;
                height: 60vw;
            }
        }
    }

    .achievement__inner-content{
        max-width: 300px;
    }
}