.privacy{
    padding: 4.5em 0 3.75em 0;
    &__inner{
        padding: 0 2em 3.75em;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        align-items: flex-start;

        &-box{
            max-width: 270px;
            width: 23%;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: .625em;
            background-color: $white-5;
            border-radius: 8px;

            h6{
                font-weight: 500;
                letter-spacing: 4%;
            }

            ul{
                li{
                    cursor: pointer;
                    padding: .625em .75em;
                    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.04);
                    border-radius: 8px;
                    font-weight: 400;
                    font-size: .875em;
                    color: $main;
                }

                .active{
                    background-color: $white;
                    color: $secondary;
                }
            }
        }
        &-content{
            max-width: 770px;
            width: 66%;
            display: flex;
            flex-direction: column;
            gap: 3.75em;
            align-items: flex-start;
            justify-content: center;

            &-subcontent{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 3em;
                justify-content: center;

                .title{
                    display: flex;
                    flex-direction: column;
                    gap: .8em;

                    h2{
                        font-weight: 600;
                        font-size: 2.5em;
                    }
                    span{
                        font-weight: 400;
                        font-size: .875em;
                        color: $main;
                    }
                }
                p{
                    font-size: 1.125em;
                }
            }

            .content-box{
                display: flex;
                flex-direction: column;
                gap: 1.5em;

                h3{
                    font-size: 2.5em;
                    font-weight: 500;
                }

                p{
                    font-size: 1.125em;
                }
                h5{
                    margin-top: .5em;
                    font-weight: 600;
                }
                ul li{
                    padding-left: 1em;
                }
                ul li::before {
                    content: "\2022";
                    color: black;
                    font-weight: bold;
                    display: inline-block; 
                    width: 1em;
                    margin-left: -1em;
                  }
            }
        }
    }
}